# Ignore all files by default
*

# Ignore specific files and directories
*_creds.txt
/cnn/
/output_notebook/**
# /hangman_api_user.ipynb



# Whitelist specific file types and files globally
!*.py
!*.ipynb
!*.gitignore
!*.sh
!*.yml
!*.html

# Include specific directories
!/old/
!/scr/
!/dataset